body{
    background-image: url(https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #AAC4FF;
   }
   #container{
    background-color: rgba(42, 219, 246, 0.8);
    color: brown;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
    h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    input{
        padding: 5px;
        width: 20%;
        font-family: 'Montserrat', sans-serif;
            }
            form{
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            margin: 10px;
            padding: 10px;}
            .field {clear:both; text-align:right; line-height:35px;}
            label {float:left;}
         #btnTip{
            padding: 5px;
            background-color:#8A39E1;
            font-family: 'Montserrat', sans-serif;
            border: none;
            color: azure;
         }
         #btnTipRest{
            padding: 5px;
            background-color:#8A39E1;
            font-family: 'Montserrat', sans-serif;
            border: none;
            color: azure;
         }
         #tip{
            padding: 5px;
            font-family: 'Montserrat', sans-serif;
            border: none;
            width: 23%;
            display: none;
                   }
                   #tiprest{
                    padding: 5px;
                    font-family: 'Montserrat', sans-serif;
                    border: none;
                    width: 23%;
                    display: none;
                           }
         #btn{
            background-color: #EE81B3;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
         }
        
        
        .showTotal{
         display: flex;
         justify-content: center;
     }
     #totalAmount{
        background-color: #D47AE8;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid white;
        font-size: 20px;
        color: azure;
        font-family: 'Montserrat', sans-serif;
             width: 200px;
    }





       





    @media all and (max-width:500px){
                
      h1{
         font-size: 15px;
      }
      #plane, #food, #transport, #entert, #museum, #hotels, #Restaurants {
         font-size: 8px;
      }
      input{
         padding: 2px;
         width: 15%;
      }
      label{
         font-size: 12px;
      }
      #btn{
        
 padding: 4px;
  font-size: 10px;
      }
      #totalAmount{
         margin: 10px;
         padding: 10px;
         font-size: 15px;
         width: 100px;
     }
     #container{
      width: 250px;
      height: 600px;
      border-radius: 30px;
      }
      
    }